body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif;
  margin-left: 25px;
  margin-right: 25px;
}
#logo-row {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 75px;
}
#logo-row > div {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  vertical-align: middle;
}
.logo {
  max-height: 100%;
  max-width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#map {
  height: 500px;
  margin: 0;
  padding: 0;
}
#page-status {
  font-style: italic;
}
.el-occluded {
  color: red;
}
#mobile-location {
  display: none;
  font-weight: bold;
}
#point-el-offset-li {
  display: none;
}
#point-el-offset {
  font-weight: bold;
}