body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif;
  margin-left: 25px;
  margin-right: 25px;
}
#logo-row {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 75px;
}
#logo-row > div {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  vertical-align: middle;
}
.logo {
  max-height: 100%;
  max-width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#map {
  height: 550px;
  margin: 0;
  padding: 0;
}
#page-status {
  font-style: italic;
}
.el-occluded {
  color: red;
}
#mobile-location {
  display: none;
  font-weight: bold;
}
#point-el-offset-li {
  display: none;
}
#point-el-offset {
  font-weight: bold;
}
.custom-map-control-button {
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}